name: try

on:
  #schedule:
  #  - cron: '0 11 * * *'
  workflow_dispatch:
   USERNAME:
      type: string
      default: ''
      description: 'test'
      required: false

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      #email
      PIXIV_USERNAME: ${{ secrets.PIXIV_PASSWORD }}
      PIXIV_COOKIE: ${{ secrets.PIXIV_COOKIE }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Dependency
        run: |
          python -m pip install --upgrade pip
          pip install torch torchvision torchaudio
          pip install -r requirements.txt

      - uses: robinraju/release-downloader@v1.9
        with:
          repository: "IrisRainbowNeko/pixiv_AI_crawler"
          latest: true
          fileName: "checkpoint-best_t5.pth"

      - name: Downloading
        continue-on-error: false
        run: |
          python AIcrawler.py --ckpt ./checkpoint-best_t5.pth --n_images 5 --keyword "ブルーアーカイブ"

      - name: Upload File A.R.O.N.A
        uses: actions/upload-artifact@v3
        with:
          name: A.R.O.N.A
          path: /home/runner/work/down_img/
          if-no-files-found: ignore
          retention-days: 7
